<%- layout('layouts/main') %>

<div class="container mt-3">
    <img src="/img/logo.png" alt="logo" class="rounded mx-auto d-block">
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-tabs">
                    <a class="nav-link active" href="#">Login</a>
                </li>
                <li class="nav-tabs">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-tabs">
                    <a href="/" class="nav-link">Home</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <% if (loginMessage.length >0) { %>
                <div class="alert alert-info" role="alert">
                    <p><%= loginMessage %></p>
                </div>
            <% } %>
            <form action="/login" method="POST">
                <div class="mb-3">
                <label for="password" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" placeholder="example@gmail.com">
                </div>
                <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-dark">Log-In</button>
            </form>
        </div>
    </div>
</div>